<div id="footer" style="background-color:#000;color:#FFF">
<div class="container">
<footer>

<p>
<ul class="inline">
<li><a style="color:#FFF" href="/about"><b>About Us</b></a></li>
<li><a style="color:#FFF"href="/terms" title="Knowledge base" target="_none"><b>Terms and Conditions</b></a></li>
<li><a style="color:#FFF" href="/Advertise"><b>Advertise with Us</b></a></li>
<li><a style="color:#FFF" href="/disclaimer" ><b>Disclaimer</b></a></li>
</ul>

</p>
<p>
<span class="pull-left">&copy; 2014 <a style="color:#FFF" href="http://thenewsminute.com/" target="_blank">www.thenewsminute.com</a></span>

<span class="pull-right"><b>Developed by Girish Swaminathan</b></span>
</p>
</footer>
</div>
</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/offcanvas.js"></script>
