<footer>
        <div class="footer-rect">
          <div class="col-xs-3 col-sm-3">
              <p class="footer-text"><a class="footer-text" href=/About>About us</a></p>
          </div>
          <div class="col-xs-3 col-sm-3">
            <p class="footer-text"><a class="footer-text" href=/terms>Terms and conditions</a></p>
          </div>
          <div class="col-xs-3 col-sm-3">
            <p class="footer-text"><a class="footer-text" href=/advertise-with-us>Advertise with us</a></p>
          </div>
          <div class="col-xs-3 col-sm-3">
            <p class="footer-text"><a class="footer-text" href=/Disclaimer>Disclaimer</a></p>
          </div>
        </div>
        
          
          
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/offcanvas.js"></script>
